{
  "env": {
    "browser": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "linebreak-style": "off",
    "indent": "off",
    "spaced-comment": "off",
    "no-restricted-globals": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "import/prefer-default-export": 0
  }
}